
.page-header {
    background-color: #ff0073;
    width: :100%;
    margin: 0px 0px 20px;
    padding: 5px 0px 10px 0px;
    float: center;
    text-align:center;
}

body　{
    font-size: 1.4rem;
    -webkit-text-size-adjust: 100%;
    margin: 0;
}
html　{font-size: 62.5%;}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    text-align:center;
    float: center;
    font-size: 80pt;
    -webkit-text-size-adjust: 100%;
    text-decoration: none;
    font-family: 'Lobster Two', cursive;
}

.page-header h4 {
    margin-top: 1px;
    color: #ffffff;
    text-align:center;
    float: center;
    font-size: 27%;
    -webkit-text-size-adjust: 100%;
    text-decoration: none;
    font-family: 'Bungee Outline','Lobster';
    font-weight: bold;
}

.content {
    float: center;
    -webkit-text-size-adjust: 100%;
    width: auto;
}

h1, h2, h3, h4, a {
    font-family: 'Rounded Mplus 1cster';
    -webkit-text-size-adjust: 100%;
    width: 100%;
}

img {
  float: center;
  margin: auto;
  width: 100%;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    text-align: left;
    margin-bottom: 70px;
    -webkit-text-size-adjust: 100%;
    width: 100%;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
    width: 100%;
    font-family: 'Rounded Mplus 1cster';
    font-size: 150%;
    font-weight: bold;
    -webkit-text-size-adjust: 100%;
}
.post img {
  float: center;
  width: 90%;
}
