{% extends 'polls/index.html' %}
{% load staticfiles %}

{% block content %}
<ul>
<h1><a>{{ question.question_title }}</a></h1>
    <img src="{% static 'polls/images/thumb1.jpg' %}"><br>
            <br>
            <h2>
            <p>{{ question.question_text }}</p>
              {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}</h2>

            <h1><form action="{% url 'polls:vote' question.id %}" method="post">
              {% csrf_token %}
              {% for choice in question.choice_set.all %}
              <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
              <label for="choice{{ forloop.counter }}" class="radio">{{ choice.choice_text }}</label><br><br>
              {% endfor %}</h1>
              <input type="submit" value="投票する" />
            </form>
</ul>
{% endblock %}
