{% extends 'diagnosis/index.html' %}
{% load staticfiles %}

{% block content %}
<ul>
<h1><a>{{ questionDiagnosis.questionDiagnosis_title }}</a></h1>
    <img src="/static/diagnosis/images/thumb{{questionDiagnosis.id}}.jpg"><br>
            <h2>
            <p>{{ questionDiagnosis.questionDiagnosis_text|linebreaks }}</p>
              {% if error_message %}
              <p>
                <strong>
                  {{ error_message }}
                </strong>
              </p>
              {% endif %}
            </h2>

              {% csrf_token %}
              <input type="text" name="name" id="id_name" /><br><br>
              <input type="submit" value="診断する" class="sbt_1" method="get" />
            </form>
</ul>
{% endblock %}
