{% load staticfiles %}
<html>
<head>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-104070078-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-2658936999314130",
      enable_page_level_ads: true
    });
  </script>
  <title>Meloon</title>
  <script type="text/javascript">
  if ((navigator.userAgent.indexOf('iPhone') > 0 && navigator.userAgent.indexOf('iPad') == -1) || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
    document.write('<link rel="stylesheet" href="{% static 'css/sp_diagnosis.css' %}">');
  }else {
        document.write('<link rel="stylesheet" href="{% static 'css/diagnosis.css' %}">');
    }
</script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Bungee+Outline|Lobster" rel="stylesheet">
  <script type="text/javascript">
  if ((navigator.userAgent.indexOf('iPhone') > 0 && navigator.userAgent.indexOf('iPad') == -1) || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
    document.write('<link rel="stylesheet" href="{% static 'css/sp_diagnosis.css' %}">');
  }else {
        document.write('<link rel="stylesheet" href="{% static 'css/diagnosis.css' %}">');
    }
</script>
</head>




<div class="page-header">
    <h1><a href="/diagnosis">Meloon<br><h4> みんなで決める、なんでも総選挙</h4></a></h1>
</div>
<!--<link rel="stylesheet" type="text/css" href="{% static 'diagnosis/style.css' %}" />-->
    <body>
      <div class="content container">
          <div class="row">
              <div class="col-md-8">
                <div class="post">
                  {% block content %}
                  {% if latest_questiondiagnosis_list %}
                  <ul>
                    {% for questiondiagnosis in latest_questiondiagnosis_list %}
                    <h1><a href="{% url 'diagnosis:detail' questiondiagnosis.id %}">{{ questiondiagnosis.questiondiagnosis_title }}</a></h1>
                    <a href="{% url 'diagnosis:detail' questiondiagnosis.id %}"><img src="/static/diagnosis/images/thumb{{questiondiagnosis.id}}.jpg"></a>
                    {% endfor %}
                  </ul>
                  {% else %}
                  <p>No diagnosis are available.</p>
                  {% endif %}
                  {% endblock %}
              </div>
            </div>
        </div>
  </div>

  </body>
</html>
